*{
    transition: all 500ms ease-in-out;
}

body {
    background: #bcbcbc
}


h1, h3 {
    text-align: center;
}

#headers{
    margin: 50px 0 50px 0;
}

.button {
    border: none;
    color: white;
    border-radius: 5px;
    background: #494f51;
    transition: 0.3s;
}

#wrongBtn {
    float:left;
    width:100px;
    height: 50px;
    order: 3;
    margin-right: 20px;
}

#wrongBtn:hover {
    background: red;
}

#rightBtn {
    width: 100px;
    height: 50px;
    order: 1;
    margin: auto;
}

#rightBtn:hover {
    background: green;
}

#currentCard {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 7px;
    background: #68a2ba;
    order: 0;
    display: flex;
}

#text {
    margin: auto;
    width: 75%;
    text-align: center;
    font-size: 30px;
}

#container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
}

#showAnswerBtn {
    margin: 25px 0 25px 0;
    height: 50px;
    width: 150px;
}

#showAnswerContainer {
    text-align: center;
}