h1, h3 {
    text-align: center;
}
*{
    transition: all 250ms ease-in-out;
}

#wrongBtn {
    float:left;
}

rightBtn {
    float: right;
}

#currentCard {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background:lightblue;
}