* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}

#navbar {
    width: 100%;
    background: #4f545b;;
}
#navbar ul{
    display: flex;
    list-style: none;
    width: 33%;
    background: #4f545b;;
}

#navbar ul li {
    padding: 1.2em;
    background: #4f545b;;
    color: white;
    transition: 0.3s;
}

#navbar ul li:hover {
    background: #444444;
}
